/* product-page.component.css */

.product-details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .product-image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .product-info {
    margin-left: 20px;
  }
  
  .product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .product-info .price {
    font-weight: bold;
    font-size: 18px;
  }
  
  .rating {
    color: #f39c12;
    margin-bottom: 10px;
  }
  
  .rating span {
    font-size: 24px;
    margin-right: 5px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #2980b9;
  }
  